---
layout: base.njk
pagination:
  data: neighbourhoods
  size: 1
  alias: n
permalink: "/neighbourhoods/{{ n.slug }}/"
---

{% block top %}
  {% set mode = "thin" %}
  {% set title = n.title %}
  {% set img = n.hero or n.img %}
  {% include "components/hero.njk" %}
{% endblock %}

{% block content %}
  {% if n.desc %}<p>{{ n.desc }}</p>{% endif %}

  {% if n.pills and n.pills.length %}
    <div class="pills">
      {% for p in n.pills %}
        <span class="pill">{{ p }}</span>
      {% endfor %}
    </div>
  {% endif %}

  {% if n.about %}{{ n.about | safe }}{% endif %}
{% endblock %}
